@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
:root{
    --white: #e0e0e0;
    --dark : #bebebe;
    --light: #ffffff;
    font-family: 'Ubuntu';
}

body{
    background-color: var(--white);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

h1{
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    margin: 1em;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background-color: var(--white);
    font-family: 'Ubuntu';
    font-size: xx-large;
    -webkit-appearance: none;
}

footer{
    display: flex;
    justify-content: center;
    ;
}

input[type=text]{
    box-shadow: inset .3em .3em .5em var(--dark),
                inset -.3em -.3em .5em var(--light);
}


input[type=text]:focus{
    border: none;
    box-shadow: inset .4em .4em .5em var(--dark),
                inset -.4em -.4em .5em var(--light);
}

input[type=submit]{
    box-shadow:  .3em .3em .7em var(--dark),
                 -.3em -.3em .7em var(--light);
}

input[type=submit]:hover{
    box-shadow:  .15em .15em .5em var(--dark),
                 -.15em -.15em .5em var(--light);
}